<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">VideoWebRTC</a>
    <form class="d-flex align-items-center">
      <a class="nav-link text-bg-dark me-3" (click)="signOut()">
        <i class="fa fa-sign-out me-2"></i>
        Sign Out
      </a>
      <img class="img img-fluid rounded-circle me-2" style="width: 2rem;"
        [src]="authService.userData.photoURL">
      <span class="text-bg-dark">{{ authService.userData.displayName }}</span>
    </form>
  </div>
</nav>
<div class="container-xl">
  <div class="title-number justify-content-center align-items-center col-12 py-3 px-0">
    <div class="alert alert-success text-align-center m-0">
      <h4 class="mb-0">
        <span class="number">
          {{ myNumber }}
        </span> 
        is your phone number
      </h4>
    </div>
  </div>
  <div class="main-body row d-flex flex-wrap">
    <div class="main col col-xl-8 pl-xl-0 pr-xl-3 col-lg-8 pl-lg-0 pr-lg-3 col-12 pb-3 border-end">
      <h5 class="alert alert-primary d-flex align-items-center">
        <i class="fa-solid fa-video me-2"></i>
        Video
      </h5>
      <div class="dialer d-flex">
        <div class="input-group me-2">
          <div class="input-group-text">
            <i class="fa-solid fa-mobile-screen"></i>
          </div>
          <input type="number" class="form-control" placeholder="Call Number" [(ngModel)]="callNumber" required>
        </div>
        <button type="button" class="btn btn-primary me-2" (click)="callButton(callNumber)" [disabled]="!callNumber || callConnected || callNumber === myNumber">
          <i class="fa-solid  fa-phone me-1"></i> Call
        </button>
        <button type="button" class="btn btn-danger me-2" (click)="hangUp()" [disabled]="!callConnected">
          <i class="fa-solid  fa-phone-slash me-1"></i> Hangup
        </button>
        <button type="button" class="btn btn-success" (click)="answerCall()" *ngIf="incomingCall">
          <i class="fa-solid  fa-phone-volume me-1"></i> Answer
        </button>
      </div>
      <div class="videos mt-3" [hidden]="!callConnected" #fullScreen>
        <div class="local-video">
          <video class="rounded" #remoteVideoStream autoplay playsinline></video>
        </div>
        <div class="remote-video">
          <video class="rounded" #localVideoStream autoplay playsinline></video>
        </div>
        <div class="actions">
          <div class="btn btn-primary rounded-circle me-3" (click)="openFullscreen()"><i class="fa-solid  fa-expand"></i></div>
          <div class="btn btn-danger rounded-circle" (click)="hangUp()"><i class="fa-solid  fa-phone-slash"></i></div>
        </div>
      </div>
    </div>
    <div class="chat col col-xl-4 pl-xl-3 pr-xl-0 col-lg-4 pl-lg-3 pr-lg-0 col-12 pb-3">
      <h5 class="alert alert-primary d-flex align-items-center">
        <i class="fa-solid  fa-comment-alt me-2"></i>
        Chat
      </h5>
      <h6 class="alert alert-success" *ngIf="callConnected">
        <i class="fa-solid  fa-user-alt me-2"></i>
        Call Connected to
        <span class="text-danger">
          {{callerNumber.length ? callerNumber : connectedCallNumber }}
        </span>
      </h6>
      <div class="form-group mb-2">
        <input type="text" class="form-control" placeholder="Write Message" [(ngModel)]="chatMessage" 
        *ngIf="callConnected" (keydown.enter)="sendMessage(chatMessage, authService.userData)" required>
      </div>
      <div class="messages form-control" *ngIf="chatMessages.length">
        <div class="message" [class.mb-2]="i !== chatMessages.length - 1" 
          *ngFor="let message of chatMessages; let i = index" [class]="message.class">
          <div class="message-body">
            <span class="user"><i class="fa-solid fa-user-alt me-1"></i>
              {{ message.user }} ({{ message.sentMessage ? 'You' : message.number }})
            </span>
            <span> {{ message.text }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>