.nav-link {
  cursor: pointer;
}

.user-logo {
  display: flex;
  color: var(--white);
  align-items: center;
}

.user-logo img.img {
  width: 40px;
  height: 40px;
}

.title-number .number {
  color: var(--danger);
  text-decoration: underline;
}

.messages {
  overflow-y: auto;
  padding: .5rem;
}

.messages .message {
  display: flex;
  width: 100%;
}

.messages .message .message-body {
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
  border-radius: 6px;
  background: #d4e9ff;
  border: 1px solid #027bfe;
}

.messages .message .message-body .user {
  font-weight: 500;
  color: var(--blue);
}

.messages .message.received-message {
  justify-content: flex-end;
  text-align: right;
}

.messages .message.received-message .message-body {
  background: #ffe6e8;
  border: 1px solid #ed858c;
}

.messages .message.received-message .message-body .user {
  color: var(--red);
}

.dialer .input-group {
  width: 50%;
}

.videos {
  position: relative;
}

.videos .local-video {
  width: 100%;
  height: 100%;
  border: 2px solid var(--bs-primary);
  border-radius: 0.55rem;
  display: flex;
}

.videos .local-video video {
  width: 100%;
  height: 100%;
  border: 4px solid var(--green);
}

.videos .remote-video video {
  position: absolute;
  width: 25%;
  max-height: 25%;
  border: 4px solid var(--yellow);
  right: 20px;
  bottom: 25px;
}

.videos .actions {
  position: absolute;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.videos .actions .btn {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1023px) {
  .main {
    border-right: 0 !important;
  }
}