.nav-link {
    cursor: pointer;
}

.user-logo {
    display: flex;
    color: var(--white);
    align-items: center;
}

.user-logo img.img {
    width: 40px;
    height: 40px;
}

.title-number .number {
    color: var(--danger);
    text-decoration: underline;
}

.messages {
    height: calc(60vh - 25px);
    overflow-y: auto;
}

.messages .message {
    display: flex;
    flex-direction: column;
}

.messages .message .user {
    font-weight: 500;
    color: var(--blue);
}

.dialer .input-group {
    width: 50%;
}

.videos {
    position: relative;
}

.videos .local-video {
    width: 100%;
    height: 100%;
}

.videos .local-video video {
    width: 100%;
    height: 100%;
    border: 4px solid var(--green);
}

.videos .remote-video video {
    position: absolute;
    width: 25%;
    max-height: 25%;
    border: 4px solid var(--yellow);
    right: 20px;
    bottom: 25px;
}

.videos .actions {
    position: absolute;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.videos .actions .btn {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1023px) {
    .main {
        border-right: 0 !important;
    }
}